#navbar {
    background-color:rgb(149, 170, 244);

    height: 200px;
    width: 100%;
    margin: left 1px;
    border-radius:8px;
    border: 1px solid grey;
    margin-right:600px;
    text-align: left;
    padding: 30px;
    font-size: 2vw;
    
    }
    a:hover,#navbar{

        background-color: rgb(55, 123, 98);
    
        color: rgb(245, 139, 243);
    }
    #navbar:hover{
        background: #e8ecf1;
    }
    a:hover,#bottombar{

        background-color: black;
        color: rgb(235, 244, 252);
    }

    #intbar{
        text-align: center;
    }
    #extbar{
        background-color: rgb(235, 159, 83);
        text-align: right;
        padding-right: 50px;
        width: 150px;
        border-radius: 5px;
        border: solid rgb(235, 159, 83);
    margin-left: 80%;
    }
    a:link{
        text-decoration:none;
        text-align:center;
       }
       body{
        background-image: url(picture/pic3.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-style: dotted;
       }
       .p{
        background-color: #43609b;
        width: 100%;
        margin-top: 0%;
        top: 0;
       }
       .p p{
        background-color: rgb(47, 128, 97);
      padding: 10px;
      color: #0e0f10;
      border: 1px solid #171515;
      width: 70%;
      height: 90vh;
      border-radius: 20px;
      font-size: large;
      margin-left: 20%;
      }
      .p h1{
        color: #000;
        float: center;
        display: center;
        margin-top: auto;
        margin-left: 10%;
      }
      button {
        width: 300px;
        padding: 15px 0;
        margin: 0 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #fe7250;
        background-color: #fe7250;
        cursor: pointer;
        transition: background 0.5s;
        
       }
       button:hover {
        background: transparent;
        border: 2px solid #FFF;
       }
       #navbar button {
        width: 200px;
        padding: 15px 0;
        margin: 0 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #030345;
        background-color: #1a0736;
        color: #bec1c7;
        cursor: pointer;
        transition: background 0.5s;
        
       }
      #navbar button:hover {
        background: transparent;
        border: 2px solid #FFF;
       }
       #img-pic2 {
    background-image: url(picture/pic3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: fixed;
    opacity: 1  
    8.3.5px;
       }
       h1{
        color: aliceblue;
       }
       p{
        color: #e8ecf1;
    }
    
       
       
    #serve
    {
        background-image: url(picture/pic5.jpeg);
        opacity: 0.5;
        padding: 50%;
    }
    

    #cont
    {
        background-color: mintcream;
        opacity: 0.5;

    }
    #BETHA
    {
        background-color: rgba(10, 10, 10, 0.575);
        padding: 50%;
    }
    ul {
        list-style: none;
       /* background: rgb(53, 134, 83);*/
        border-radius: 0px;
        float:right;
        margin-right: 200px;
       }
      
       ul li {
        display: inline-block;
        position: relative;
       }
       ul li a{
        display: block;
        padding: 20px 25px;
        color: #211b1b;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        border-radius: 20px;
       }
       ul li ul.dropdown li
       {
            display: block;
            background: rgb(230, 228, 234);
            border-radius: 30px;
        }
        ul li ul.dropdown 
    {
    background: #bec1c7;
    position: absolute; 
    z-index: 999;
    display: none;
    border-radius: 30px;
   }
   ul li a:hover {
    background: #0e0f10;
    display: block;
    
   }
   ul li:hover ul.dropdown
   {
    display: block;
   }
   body {
    padding: 0px 80px;
    margin: 0;
    font-family:  Arial;
    overflow: visible;
 }
 .container
 {
   
  position: absolute;
  left: 0;
  top: auto;
  width: 100%;
  height: 100vh;
  animation: animate 16s ease-in-out infinite ;
  

  background-size: cover;
  
 
 }
 .outer
 {
   /* background-image:url(/Users/OCTAVE/Desktop/paccy/picture/IMG-20230414-WA0010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5*/
    padding: 0%;
    width: 100%;
   height: 260px;
   top: 0;
   margin-top: 20%;
   position: center;
   left: 0;
   top: 0;



 }
 .details {

  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
 }
 .details h1{
  font-size: 4em;
  color: #FFF;
  margin-top: 0px;
 }
 .details h2{
  text-transform: capitalize;
 }
 
 .details h2 span:nth-child(1){
  color: red;
 }
 .details h2 span:nth-child(2){
  color:yellow;
 }
.details p{

    color: rgb(208, 236, 226);
    border-radius: 10px;
    border: 5px solid red;
    width: 100%;
    height: 40%;
    font-size: 1em;

    
}
 @keyframes animate
 {
  0%,100%{
    background-image: url(picture/IMG-20230414-WA0010.jpg);
  }
  25%{
    background-image: url(picture/pic2.jpeg);
  }
  50%{
    background-image: url(picture/IMG-20230414-WA0010.jpg);
  }
  75%{
    background-image: url(picture/pic4.jpeg);
  }
 }
 #BITHA{
    display:grid;
    grid-template-columns: auto auto auto;
    top: 0;
    float: left;
}
#BITHA p{
    padding: 20px;
    border: 1px solid #f9ebeb;
    width: 70%;
    height: 100vh;
    border-radius: 20px;
    float: left;
}
#BITHA P img{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


       
       #bottombar{
        background-color:rgb(227, 207, 207);

    height: 200px;
    width: 100%;
    margin: left 0px;
    border-radius:8px;
    border: 5px solid rgb(3, 53, 38);
    margin-right:600px;
    padding: 10px;
    font-size: 7vw;
    left:0;
       }
       #bottombar,#bottomb {
        
        color:black;
        text-align: left;
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20%;
        float: left;
    
       }
       #bottombar,#lgo {
    
        margin: left 1px;
    border-radius:8px;
    border: 0px solid rgb(226, 224, 224);
    margin-right:600px;
    text-align: right;
    padding: 10px;
    font-size: 4vw;
    
       }
       #BETHA{
        background-color: transparent;
        display:flexbox;
        padding: 10px;
    }
#BETHA1{
    background-color: azure;
    width: 50%;
    height: 100vh;
    text-align: center;
    margin-left:0px;
    border-radius:20px;
}
#BETHA2{
    background-color: rgb(230, 242, 242);
    width: 50%;
    height: 100vh;
    text-align: center;
    border-radius: 10px;
    top: 0;
    margin-left: 600px;
    display:right;

}
#bottombar p{
    text-align: right;
    font-size: 1vw;
    color: black;
    margin-right: 20px;
   }
   .centbar{
    background-image:url(picture/IMG-20230414-WA0010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    padding: 0%;
    width: 100%;
   height: 200px;
   top: 0;
   margin-top: 0%;
}
.centbar p{
    background-color: rgb(103, 40, 220);
    padding: 10px;
    color: #0e0f10;
    border: 1px solid #171515;
    width: 70%;
    height: 130vh;
    border-radius: 20px;
}
.centbar P img{
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-right: 0;
    display: block;
}
.centbar2{
    background-color: hsl(235, 86%, 71%);
    width: 100%;
    height: 430vh;
    display:grid;
    grid-template-columns: auto auto auto;
    top: 0;
    left: 0;
    margin-top: 300px;
    
}
.centbar2 p{
    background-color: rgb(34, 84, 61);
    padding: 10px;
    border:1px dotted #d48484;
    width: 70%;
    height: 70vh;
    border-radius: 20px;
    margin-top: 200px;
}
.centbar2 P img{
    width: 70%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
} 
.centbar2 h1{
    display: inline;
    color: #0e0f10;
    margin-top: auto;
    margin-left: 30%;
}
.centbar3{
    background-color: hsl(0, 13%, 94%);
    width: 100%;
    height: 70vh;
    display: center;
    top: 0;
    bottom: 0%;
    margin-top: auto;
}
.centbar3 h1{
    display: center;
    color: #0e0f10;
    margin-top: auto;
    margin-left: 50%; 
}

.centbar3 p{
    color: rgb(123, 224, 190);
    border-radius: 10px;
    border: 2px dotted red;
}

#bottombar #md-footer{

    background-color: #034621;
    width: 100%;
    height: 8vh;
    margin-left: 0px;
}
#bottombar #md-footer p{
    color: #d48484;
    text-align: center;

}

#navbar #img-pic2{
    width: auto;
    border: 10px solid rgb(9, 13, 67);
    border-radius: 50%;
}
#bottombar:hover{
    color: #034621;
    background-color: #034621;
}